# Sao chep file nay thanh .env.local roi chay npm install + npm run dev
# cp .env.example .env.local

VITE_FIREBASE_API_KEY=AIzaSyA-_WQocn780BKrb-Mcz2rMTlsoK4YzUGc
VITE_FIREBASE_AUTH_DOMAIN=final-prj-d2f16.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=final-prj-d2f16
VITE_FIREBASE_STORAGE_BUCKET=final-prj-d2f16.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=102860825171
VITE_FIREBASE_APP_ID=1:102860825171:web:185c7756f8a1d2c3659ca6
VITE_USE_EMULATORS=false
