# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Environment
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

.vercel
